parameters:
    level: 5
    paths:
        - microservicio_usuarios/src
        - microservicio_usuarios/public
        - microservicio_vuelos/src
        - microservicio_vuelos/public
    excludePaths:
        - '*/vendor/*'
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Undefined variable#'
        - '#Access to undefined constant#'
